modules = ["nodejs-20"]

[workflows]
runButton = "Serve Website"

[[workflows.workflow]]
name = "Serve Website"
author = 41234181
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "http-server -p 5000 --bind 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
